<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard</title>
    <link href="{% static 'style/styles.css' %}" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<!--class="sb-nav-fixed"-->
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Dashboard</a>
    <!--<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>-->
    <!--</button>-->
    <!-- Navbar Search-->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input class="form-control" type="text" placeholder="Search for..." aria-label="Search"-->
    <!--aria-describedby="basic-addon2"/>-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'home' %}">home</a>
                <a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<!--id="layoutSidenav"-->
<br>

<div>
    <!--<div id="layoutSidenav_nav">-->
    <!--<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">-->
    <!--&lt;!&ndash;<div class="sb-sidenav-menu">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="nav">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-menu-heading">Core</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="index.html">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;Dashboard&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-menu-heading">Interface</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"&ndash;&gt;-->
    <!--&lt;!&ndash;aria-expanded="false" aria-controls="collapseLayouts">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;Layouts&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"&ndash;&gt;-->
    <!--&lt;!&ndash;data-parent="#sidenavAccordion">&ndash;&gt;-->
    <!--&lt;!&ndash;<nav class="sb-sidenav-menu-nested nav">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="layout-static.html">Static Navigation</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"&ndash;&gt;-->
    <!--&lt;!&ndash;aria-expanded="false" aria-controls="collapsePages">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;Pages&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="collapse" id="collapsePages" aria-labelledby="headingTwo"&ndash;&gt;-->
    <!--&lt;!&ndash;data-parent="#sidenavAccordion">&ndash;&gt;-->
    <!--&lt;!&ndash;<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link collapsed" href="#" data-toggle="collapse"&ndash;&gt;-->
    <!--&lt;!&ndash;data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">&ndash;&gt;-->
    <!--&lt;!&ndash;Authentication&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"&ndash;&gt;-->
    <!--&lt;!&ndash;data-parent="#sidenavAccordionPages">&ndash;&gt;-->
    <!--&lt;!&ndash;<nav class="sb-sidenav-menu-nested nav">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="login.html">Login</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="register.html">Register</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="password.html">Forgot Password</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link collapsed" href="#" data-toggle="collapse"&ndash;&gt;-->
    <!--&lt;!&ndash;data-target="#pagesCollapseError" aria-expanded="false"&ndash;&gt;-->
    <!--&lt;!&ndash;aria-controls="pagesCollapseError">&ndash;&gt;-->
    <!--&lt;!&ndash;Error&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"&ndash;&gt;-->
    <!--&lt;!&ndash;data-parent="#sidenavAccordionPages">&ndash;&gt;-->
    <!--&lt;!&ndash;<nav class="sb-sidenav-menu-nested nav">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="401.html">401 Page</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="404.html">404 Page</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="nav-link" href="500.html">500 Page</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="sb-sidenav-menu-heading">Addons</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<a class="nav-link" href="{% url 'charts' %}">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;Id Cards&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<a class="nav-link" href="tables.html">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;Tables&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sb-sidenav-footer">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="small">Logged in as:</div>&ndash;&gt;-->
    <!--&lt;!&ndash;Start Bootstrap&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</nav>-->
    <!--</div>-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!--<h1 class="mt-4">Dashboard</h1>-->
                <!--<ol class="breadcrumb mb-4">-->
                <!--<li class="breadcrumb-item active"></li>-->
                <!--</ol>-->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body"> Documents</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Support and Request</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Help</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Face Verify</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'face_compare' %}">Visit
                                    Page</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                Number of Files Uploaded
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title text-center">
                                    {{files_uploaded}}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                Number of Aadhar Cards
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title text-center">
                                    {{no_of_aadhar}}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                Number of Pan Cards
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title text-center">
                                    {{no_of_pan}}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                Number of Passports
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title text-center">
                                    {{no_of_passport}}
                                </h1>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Uploaded Files Database
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Upload Data & Time</th>
                                    <th>Card</th>
                                    <th>File</th>
                                    <th>Face Verified</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>File Name</th>
                                    <th>Upload Data & Time</th>
                                    <th>Card</th>
                                    <th>File</th>
                                    <th>Face Verified</th>
                                </tr>
                                </tfoot>
                                <tbody>

                                {% for doc in docs %}
                                <tr>
                                    <td>
                                        <a href="{% url 'view_doc' doc.id %}">
                                            {{doc.file_name}}
                                        </a>
                                    </td>
                                    <td>{{doc.uploaded_date}}</td>
                                    <td>{{doc.card_choice }}</td>
                                    <td>
                                        <a href="/media/{{doc.file_uploaded}}">
                                            {{doc.file_uploaded}}
                                        </a>
                                    </td>
                                    {% if doc.face_matched == 1 %}
                                    <td align="center">
                                        <img src="{% static 'Image/green_right.png' %}"
                                             width="55" height="35" alt="">
                                    </td>
                                    {% endif %}

                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Danalitics</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
